@model Bai11.Models.BaiViet

@{
    ViewBag.Title = "EditWrite";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index","Admin")">Quản lý bài viết</a>
        </li>
        <li class="breadcrumb-item active">Quản lý bài viết</li>
    </ol>
    <h2>Sửa bài viết</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaBV)

            <div class="form-group">
                @Html.LabelFor(model => model.TuaBV, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TuaBV, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TuaBV, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NoiDungTT, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NoiDungTT, new { htmlAttributes = new { @class = "form-control" },@id="nd" })
                    @Html.ValidationMessageFor(model => model.NoiDungTT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NoiDungChinh, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
                    <textarea class="form-control ckeditor" name="NoiDungChinh"></textarea>
                    @*@Html.EditorFor(model => model.NoiDungChinh, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.NoiDungChinh, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Loại bài viết", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MaLoai", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaLoai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu chỉnh sửa" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        //window.clipb
        //window.clipboardData.setData('NoiDungChinh', "aaaaaaa");
        //CKEDITOR.instances['NoiDungChinh'].setData("aaaaaaa");
        });
</script>
